* {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
html {
    background: url('background.jpg') no-repeat center center fixed;
}
html,body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
.wrapper {
    overflow: hidden;
    background-color: rgba(0,0,0,.5);
    color: white;
    padding: 30px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border-radius: 10px;
    max-width: 390px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 10px;
}
.wrapper .title-text {
    display: flex;
    width: 200%;
}
.wrapper .title-text .title {
    width: 50%;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}
.wrapper .form-container {
    width: 100%;
    overflow: hidden;
}

.form-container .slide-controls {
    position: relative;
    display: flex;
    height: 50px;
    width: 100%;
    overflow: hidden;
    border-radius: 5px;
    margin: 30px 0 10px 0;
    justify-content: space-between;
    border: 1px solid lightgrey;
}

.slide-controls .slide {
    height: 100%;
    width: 100%;
    z-index: 1;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    line-height: 48px;
    cursor: pointer;
    transition: all 0.6s ease;
}

.slide-controls .signup {
    color: rgb(233, 247, 76);
}

.slide-controls .slide-tab {
    position: absolute;
    height: 100%;
    width: 50%;
    left: 0;
    z-index: 0;
    border-radius: 5px;
    background: -webkit-linear-gradient(left, rgb(208, 230, 173), rgb(255, 38, 0));
    transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}
input[type="radio"] {
    display: none;
}
#signup:checked ~ .slide-tab {
    left: 50%;
    background: -webkit-linear-gradient(right, rgb(208, 230, 173), rgb(255, 38, 0));
}
#signup:checked ~ .signup {
    color: #fff;
}
#signup:checked ~ .login {
    color: rgb(233, 247, 76);
}
.form-container .form-inner {
    display: flex;
    width: 200%;
}

.form-container .form-inner form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    row-gap: 30px;
    width: 50%;
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-inner form .field {
    height: 50px;
    width: 100%;
    margin-top: 20px;
}
.form-inner form input {
    height: 50px;
    width: 100%;
    outline: none;
    padding: 10px;
    font-size: 17px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    border-bottom-width: 2px;
}

.form-inner form input:focus {
    box-shadow: 0 0 20px rgba(230, 208, 252, 0.811);
    transition: all 0.4s ease;
}

.form-inner form .pass-link {
    margin-top: 5px;
}
.form-inner form .pass-link a,
.form-inner form .signup-link a {
    color: #fa4299;
    text-decoration: none;
}
.form-inner form .pass-link a:hover,
.form-inner form .signup-link a:hover {
    text-decoration: underline;
}
.form-inner form .signup-link {
    text-align: center;
    margin-top: 30px;
}
form input[type="submit"], .prev-3, .next{
    background: -webkit-linear-gradient(left, lightblue, blue);
    color: white;
    font-size: 20px;
    font-weight: 500;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    width: 55%;
}
form input[type="submit"]:hover, .prev-3:hover, .next:hover{
    background: -webkit-linear-gradient(right, lightblue, blue);
}






.btn-flex {
    display: flex;
    column-gap: 15px;
}
.title-1 {
    text-align: left;
    font-size: 25px;
    font-weight: 500;
}
.book {
    display: flex;
    justify-content: flex-end;
    column-gap: 0%;
    width: 115vw;
}
.book .page {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    align-items: center;
}
.progress-bar{
    display: flex;
    margin: 40px 0;
    user-select: none;
    justify-content: space-evenly;
    width: 100%;
}
.progress-bar .step{
    text-align: center;
    width: 100%;
    position: relative;
}
.progress-bar .step p{
    font-weight: 500;
    font-size: 18px;
    color: white;
    margin-bottom: 8px;
}
.progress-bar .step .bullet{
    height: 25px;
    width: 25px;
    border: 2px solid white;
    display: inline-block;
    border-radius: 50%;
    position: relative;
    transition: 0.2s;
    font-weight: 500;
    font-size: 17px;
    line-height: 25px;
  }
  .progress-bar .step .bullet.active{
    border-color: #d43f8d;
    background: #d43f8d;
  }
  .progress-bar .step .bullet span{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  .progress-bar .step .bullet.active span{
    display: none;
  }
  .progress-bar .step .bullet:before,
  .progress-bar .step .bullet:after{
    position: absolute;
    content: '';
    bottom: 11px;
    right: -45px;
    height: 3px;
    width: 30px;
    background: white;
  }
  .progress-bar .step .bullet.active:after{
    background: #d43f8d;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 0.3s linear forwards;
  }
  @keyframes animate {
    100%{
      transform: scaleX(1);
    }
  }
  .progress-bar .step:last-child .bullet:before,
  .progress-bar .step:last-child .bullet:after{
    display: none;
  }
  .progress-bar .step p.active{
    color: #d43f8d;
    transition: 0.2s linear;
  }
  .progress-bar .step .check{
    position: absolute;
    left: 50%;
    top: 70%;
    font-size: 15px;
    transform: translate(-50%, -50%);
    display: none;
  }
  .progress-bar .step .check.active{
    display: block;
    color: #fff;
  }