*{
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
html {
    background: url('background.jpg') no-repeat center center fixed;
}
html,body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.wrapper {
    background-color: rgba(0,0,0,.5);
    color: white;
    padding: 30px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border-radius: 10px;
    max-width: 390px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 10px;
}
.wrapper .title-text {
    display: flex;
    width: 200%;
}
.wrapper .title-text .title {
    width: 50%;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
}
.wrapper .form-container {
    width: 100%;
}

.form-container .form-inner form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
}

.form-inner form .field {
    height: 50px;
    width: 100%;
    margin-top: 20px;
}
.form-inner form .field input {
    height: 100%;
    width: 100%;
    outline: none;
    padding-left: 15px;
    font-size: 17px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    border-bottom-width: 2px;
    transition: all 0.4s ease;
}

.form-inner form .field input:focus {
    border-color: #fc83bb;
}

.form-inner form .pass-link {
    margin-top: 5px;
}
.form-inner form .pass-link a,
.form-inner form .signup-link a {
    color: #fa4299;
    text-decoration: none;
}
.form-inner form .pass-link a:hover,
.form-inner form .signup-link a:hover {
    text-decoration: underline;
}
.form-inner form .signup-link {
    text-align: center;
    margin-top: 30px;
}
form input[type="submit"]{
    background: -webkit-linear-gradient(left, lightblue, blue);
    color: white;
    font-size: 20px;
    font-weight: 500;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
form input[type="submit"]:hover{
    background: -webkit-linear-gradient(right, lightblue, blue);
}




